.business-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
    font-size: large;
    font-weight: bold;
    color: #3D52A0;
  }
  
  .business-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    border: 1px solid #7091E6; 
    border-radius: 8px; 
    padding: 10px; 
    background-color: #fff; 
  }
  
  .business-image {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
  }
  