.single-business-list {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}

.single-business-list img {
    width: 70%; 
    height: auto; 
    border-radius: 8px; 
    margin-top: 20px; 
}

h2 {
    margin-top: 20px; 
}

h3 {
    margin-top: 40px; 
}
